/* Frame 1597880811 */

/* Auto layout */
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 40px;
gap: 16px;
isolation: isolate; */

/* width: 339px;
height: 217px;

background: #003EFF;
border-radius: 24px; */

/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 0; */

/* buttons */

/* Button */

/* Auto layout */
/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */
/* padding: 8px 40px;
gap: 8px;

width: 240px;
height: 68px; */

/* Blue */
/* background: #003EFF;
border-radius: 40px; */

/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */


